/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:wght@700&display=swap");
/* common styles */
body {
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  column-gap: 5%;
}
/*----------------
   header styles
 ----------------- */
.header-styles {
  width: 1100px;
  height: 80px;
}
.header-section h3 {
  color: #3a3a3a;
}
.button-style {
  text-decoration: none;
  width: 160px;
  height: 35px;
  background-color: #e02c6d;
  color: white;
  font-size: 16px;
  border-radius: 41px;
  margin-top: 5px;
  text-align: center;
}
.button-text {
  margin: 5px 0;
}
.title-style {
  text-align: center;
  color: #3a3a3a;
  margin-bottom: 30px;
}

/* Journey as Influencer styles */

.journey-as-influencer {
  display: flex;
  flex-direction: column;
  width: 582px;
  height: 300px;
}
.journey-as-influencer h1 {
  color: #3a3a3a;
  margin: 0;
}
.journey-as-influencer p {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 16px;
}
.container:hover .influencer img {
  transform: rotateZ(45deg) scale(0.8, 0.8);
  transform-origin: bottom, center;
}

.influencer {
  display: flex;
  position: relative;
  width: 440px;
  height: 360px;
}
.influencer img {
  position: absolute;
  width: 400px;
  height: 350px;
  transition: transform 2s linear;
}

/*-------------------------
  popular collection styles
  -------------------------
  */

.collections {
  width: 1047px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.collections .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 329px;
  height: 476px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 30px;
}
.collections .item img {
  width: 300px;
  height: 230px;
  border-radius: 5px;
}
.collections .item h2 {
  width: 100%;
  color: #18191f;
  font-weight: 500;
  margin-top: 16px;
  margin-left: 26px;
  margin-bottom: 0;
}
.collections .item h3 {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 6px;
  margin-left: 26px;
  margin-bottom: 0;
  font-weight: 400;
}
.collections .item .item-info {
  width: 100%;
  margin-left: 26px;
}
.collections .item .item-info .fa-star {
  color: #fb8200;
  width: 8px;
  height: 8px;
  margin-right: 8px;
}
.collections .item .item-info .filled {
  color: #fb8200;
}
.collections .item .item-info .empty {
  color: rgba(128, 128, 128, 0.514);
}
.collections .item .item-info span {
  margin-left: 8px;
}
.collections .item .item-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.see-more {
  display: flex;
  justify-content: center;
  width: 100%;
}
.see-more .see-more-position {
  display: flex;
  align-items: center;
  width: 1027px;
  margin-bottom: 10px;
}
.see-more a {
  width: 100%;
  text-align: right;
  text-decoration: none;
  color: #e02c6d;
}
/*-----------------
  customer reviews
  ------------------
 */
.reviews {
  width: 1047px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.reviews .review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 329px;
  height: 476px;
  margin-bottom: 30px;
}
.reviews .review img {
  width: 150px;
  height: 150px;
}

/*---------------
   footer styles 
   -------------- */
.footer-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #0a0826;
  color: white;
}
.footer-styles h3 {
  margin: 0;
  text-align: center;
}
.footer-styles p {
  color: #d9dbe1;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  margin-top: 3px;
  margin: 0;
  text-align: center;
}
.footer-styles a .fab {
  color: white;
  width: 17px;
  height: 17px;
  margin-top: 17px;
  margin-right: 22px;
  margin-left: 10px;
}
